![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 3

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/users_dataset.csv***.

Salve os dados em uma variável de nome *users*.

In [ ]:
import pandas as pd

In [ ]:
users = pd.read_csv('./datasets/users_dataset.csv', sep='|')

In [ ]:
users.head(4)

### Tarefa 2. Descubra qual a idade média por ocupação.

*Dica: use a função groupby do Pandas na coluna occupation*

In [ ]:
# Seu código
users.groupby('occupation')['age'].mean()

### Tarefa 3. Para cada ocupação descubra a idade mínima e máxima.

In [ ]:
# Seu código
users.groupby('occupation')['age'].max()

In [ ]:
users.groupby('occupation')['age'].min()

### Tarefa 4. Para cada combinação de ocupação e sexo, calcule a idade média.

Exemplo:

```
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
```

In [ ]:
# Seu código
users.groupby(['occupation', 'gender'])['age'].mean()

### Tarefa 5. Para cada ocupação calcule a porcentagem de homens e mulheres.

Exemplo:

```
occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
```

In [16]:
# Seu código
by_occ_gender = (users.groupby(['occupation', 'gender'])
                 .agg({'gender' : 'count'})
                 .rename(columns={'gender' : 'counts'})
                 .reset_index())

In [24]:
total_occ = by_occ_gender.groupby('occupation').agg({'counts' : 'sum'}).reset_index()

In [26]:
by_occ_gender = by_occ_gender.merge(total_occ, on='occupation', how='left')

In [31]:
by_occ_gender['rate'] = by_occ_gender.counts_x / by_occ_gender.counts_y
by_occ_gender.drop(columns=['counts_x', 'counts_y'], inplace=True)
by_occ_gender

       occupation gender      rate
0   administrator      F  0.455696
1   administrator      M  0.544304
2          artist      F  0.464286
3          artist      M  0.535714
4          doctor      M  1.000000
5        educator      F  0.273684
6        educator      M  0.726316
7        engineer      F  0.029851
8        engineer      M  0.970149
9   entertainment      F  0.111111
10  entertainment      M  0.888889
11      executive      F  0.093750
12      executive      M  0.906250
13     healthcare      F  0.687500
14     healthcare      M  0.312500
15      homemaker      F  0.857143
16      homemaker      M  0.142857
17         lawyer      F  0.166667
18         lawyer      M  0.833333
19      librarian      F  0.568627
20      librarian      M  0.431373
21      marketing      F  0.384615
22      marketing      M  0.615385
23           none      F  0.444444
24           none      M  0.555556
25          other      F  0.342857
26          other      M  0.657143
27     programmer      F  0.090909
28     programmer      M  0.909091
29        retired      F  0.071429
30        retired      M  0.928571
31       salesman      F  0.250000
32       salesman      M  0.750000
33      scientist      F  0.096774
34      scientist      M  0.903226
35        student      F  0.306122
36        student      M  0.693878
37     technician      F  0.037037
38     technician      M  0.962963
39         writer      F  0.422222
40         writer      M  0.577778

**Parabéns! Você chegou ao fim!**