In [1]:
import joblib

enron_data = joblib.load(open("../final_project/final_project_dataset.pkl", "rb"))

In [2]:
type(enron_data)

dict

In [4]:
import pandas as pd

In [28]:
enron_df = pd.DataFrame(index=enron_data.keys(), 
                        columns=list(enron_data.values())[0].keys(),
                        data=list(map(lambda x: x.values(), enron_data.values())))

In [34]:
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
METTS MARK,365788,807,NaN,1061827,NaN,600000,mark.metts@enron.com,NaN,NaN,585062,...,38,NaN,29,1740,1,False,NaN,702,585062,NaN
BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,10623258,...,NaN,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN
ELLIOTT STEVEN,170941,NaN,NaN,211725,NaN,350000,steven.elliott@enron.com,NaN,-400729,6678735,...,NaN,4890344,NaN,12961,NaN,False,NaN,NaN,1788391,NaN
CORDES WILLIAM R,NaN,764,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185,...,10,651850,12,NaN,0,False,NaN,58,386335,NaN
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,32,5538001,32,11350,21,True,1617011,1035,853064,NaN

How many data points (people) are in the dataset?

In [30]:
enron_df.shape[0]

146

For each person, how many features are available?

In [31]:
enron_df.shape[1]

21

How many POIs are there in the E+F dataset?

In [41]:
enron_df[enron_df.poi == True].shape[0]

18

What is the total value of the stock belonging to James Prentice?

In [44]:
enron_df.loc["PRENTICE JAMES", "total_stock_value"]

1095040

How many email messages do we have from Wesley Colwell to persons of interest?

In [49]:
enron_df.loc['COLWELL WESLEY', 'from_this_person_to_poi']

11

What’s the value of stock options exercised by Jeffrey K Skilling?

In [53]:
enron_df.loc['SKILLING JEFFREY K', 'exercised_stock_options']

19250000

Of these three individuals (Lay, Skilling and Fastow), who took home the most money (largest value of “total_payments” feature)?

In [62]:
enron_df.loc[:, 'total_payments'].astype('float64').sort_values(ascending=False).head(4)

TOTAL              309886585.0
LAY KENNETH L      103559793.0
FREVERT MARK A      17252530.0
LAVORATO JOHN J     10425757.0
Name: total_payments, dtype: float64

How many folks in this dataset have a quantified salary? What about a known email address?

In [66]:
# quantified salary
enron_df.loc[enron_df.salary != 'NaN'].shape[0]

95

In [69]:
# known email address
enron_df.loc[enron_df.email_address != 'NaN'].shape[0]

110

In [80]:
enron_df.loc[enron_df.email_address != 'NaN', 'email_address'].nunique()

110

In [77]:
enron_df.columns

Index(['salary', 'to_messages', 'deferral_payments', 'total_payments',
       'loan_advances', 'bonus', 'email_address', 'restricted_stock_deferred',
       'deferred_income', 'total_stock_value', 'expenses',
       'from_poi_to_this_person', 'exercised_stock_options', 'from_messages',
       'other', 'from_this_person_to_poi', 'poi', 'long_term_incentive',
       'shared_receipt_with_poi', 'restricted_stock', 'director_fees'],
      dtype='object')

How many people in the E+F dataset (as it currently exists) have “NaN” for their total payments?
What percentage of people in the dataset as a whole is this?

In [92]:
import numpy as np

np.mean(enron_df.total_payments == 'NaN')

0.1506849315068493

How many POIs in the E+F dataset have “NaN” for their total payments?
What percentage of POI’s as a whole is this?

In [103]:
np.mean(enron_df.loc[(enron_df.poi == True), 'total_payments'] == 'NaN')

0.0

If a machine learning algorithm were to use total_payments as a feature, would you expect it to associate a “NaN” value with POIs or non-POIs?

answer: non-POIs

In [104]:
# answer: non-POIs

What is the new number of people of the dataset? 
What is the new number of folks with “NaN” for total payments?

In [106]:
# adding 10 poi people
enron_df.shape[0] + 10

156

In [109]:
# adding 10 obs with nan to total payments
enron_df[enron_df.total_payments == 'NaN'].shape[0] + 10

32

What is the new number of POI’s in the dataset?
What is the new number of POI’s with NaN for total_payments?

In [113]:
enron_df[enron_df.poi == True].shape[0] + 10

28

In [116]:
enron_df.loc[(enron_df.poi == True), 'total_payments'] 

# total number would be 10 NaNs as there were not any before

HANNON KEVIN P             288682
COLWELL WESLEY            1490344
RIEKER PAULA H            1099100
KOPPER MICHAEL J          2652612
SHELBY REX                2003885
DELAINEY DAVID W          4747979
LAY KENNETH L           103559793
BOWEN JR RAYMOND M        2669589
BELDEN TIMOTHY N          5501630
FASTOW ANDREW S           2424083
CALGER CHRISTOPHER F      1639297
RICE KENNETH D             505050
SKILLING JEFFREY K        8682716
YEAGER F SCOTT             360300
HIRKO JOSEPH                91093
KOENIG MARK E             1587421
CAUSEY RICHARD A          1868758
GLISAN JR BEN F           1272284
Name: total_payments, dtype: object

Once the new data points are added, do you think a supervised classification algorithm might interpret “NaN” for total_payments as a clue that someone is a POI?

In [117]:
# Yes. If more pois are added and associate with a NaN value for the total_payments feature