# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1, 5, size=100), name='s1')
s2 = pd.Series(np.random.randint(1, 4, size=100), name='s2')
s3 = pd.Series(np.random.randint(10_000, 30_001, size=100), name='s3')

### Step 3. Let's create a DataFrame by joinning the Series by column

In [28]:
df = pd.concat([s1, s2, s3], axis=1)

In [29]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      100 non-null    int64
 1   s2      100 non-null    int64
 2   s3      100 non-null    int64
dtypes: int64(3)
memory usage: 2.5 KB

In [31]:
df.shape

(100, 3)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [7]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

In [8]:
df.head()

   bedrs  bathrs  price_sqr_meter
0      4       3            16732
1      2       2            24987
2      2       3            15977
3      4       3            22216
4      4       1            29749

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [32]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)
bigcolumn = bigcolumn.to_frame()

In [33]:
bigcolumn.shape

(300, 1)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [20]:
bigcolumn

    numbers
0         4
1         2
2         2
3         4
4         4
..      ...
95    18384
96    20287
97    10309
98    14954
99    12980

[300 rows x 1 columns]

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [34]:
bigcolumn.reset_index(drop=True, inplace=True)

In [35]:
bigcolumn

         0
0        4
1        2
2        2
3        4
4        4
..     ...
295  18384
296  20287
297  10309
298  14954
299  12980

[300 rows x 1 columns]