# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [167]:
import requests
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [168]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [169]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [170]:
# Solution 1
chipo.info() # 4622 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [171]:
# Solution 2
chipo.shape[0] # 4622 entries

4622

### Step 6. What is the number of columns in the dataset?

In [172]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [173]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [174]:
chipo.index # Range Index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [175]:
chipo.item_name.mode()

0    Chicken Bowl
dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [176]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [177]:
chipo.choice_description.mode()

0    [Diet Coke]
dtype: object

### Step 12. How many items were orderd in total?

In [178]:
total_items = chipo.quantity.sum()

In [179]:
chipo[chipo.choice_description == '[Diet Coke]'].quantity.sum()

159

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [180]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [181]:
def clear_price(price: object) -> float:
    price = price.replace('$', '')
    return pd.to_numeric(price)

In [182]:
chipo.item_price = chipo.item_price.apply(lambda x: clear_price(x))

#### Step 13.c. Check the item price type

In [183]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [184]:
revenue = chipo.quantity.mul(chipo.item_price).sum()
print(f'${revenue:,.2f}')

$39,237.02

### Step 15. How many orders were made in the period?

In [185]:
chipo.order_id.count()

4622

### Step 16. What is the average revenue amount per order?

In [186]:
# Solution 1

chipo['revenue'] = chipo.item_price * chipo.quantity
group_order = chipo.groupby('order_id').sum()
group_order.revenue.mean()

21.394231188658654

In [187]:
# Solution 2
chipo.groupby('order_id').sum().mean()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

### Step 17. How many different items are sold?

In [188]:
chipo.item_name.nunique()

50

In [204]:
test = chipo.groupby('order_id').sum()
test.sort_values(by='quantity', ascending=False)

          quantity  item_price  revenue
order_id
1443            35      160.74  1074.24
926             23      205.25   205.25
1786            20      114.30   197.70
1660            19       70.25   222.75
759             18       86.30   124.10
...            ...         ...      ...
819              1       10.98    10.98
821              1       10.98    10.98
107              1       10.98    10.98
1311             1       11.48    11.48
72               1       10.98    10.98

[1834 rows x 3 columns]