# iPython Sessions - Part VII - Chapter 07

## Self Check

In [11]:
import pandas as pd

In [12]:
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82],
         'Thu': [75, 97], 'Fri': [62, 79]}

In [13]:
# convert temps to DataFrame with 'Low' and 'high'as the indices

In [14]:
temperatures = pd.DataFrame(temps, index=['High', 'Low'])

In [15]:
temperatures

      Mon  Tue  Wed  Thu  Fri
High   68   71   66   75   62
Low    89   93   82   97   79

In [18]:
temperatures.loc[:, 'Mon': 'Wed']

      Mon  Tue  Wed
High   68   71   66
Low    89   93   82

In [19]:
temperatures.loc['Low']

Mon    89
Tue    93
Wed    82
Thu    97
Fri    79
Name: Low, dtype: int64

In [20]:
pd.set_option('precision', 2)

In [21]:
temperatures.mean()

Mon    78.5
Tue    82.0
Wed    74.0
Thu    86.0
Fri    70.5
dtype: float64

In [23]:
temperatures.loc['High', ['Wed', 'Fri']]

Wed    66
Fri    62
Name: High, dtype: int64