# Data Mungling for the Rent Calculator

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('banco_alugueis.csv', dtype=str)
df = df.drop(['Unnamed: 0'],axis=1)

In [8]:
df

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 2.000 /Mês,2 Quartos,"Rua Comendador Miguel Calfat, 62 - Vila Nova C...",2 Banheiros,1 Vaga,56 m²,Vila Nova Conceição,"Rua Comendador Miguel Calfat, 62"
1,R$ 7.000 /Mês,2 Quartos,"Rua Volta Redonda, 757 - Campo Belo, São Paulo...",5 Banheiros,3 Vagas,276 m²,Campo Belo,"Rua Volta Redonda, 757"
2,R$ 1.100 /Mês,2 Quartos,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2 Banheiros,1 Vaga,122 m²,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
3,R$ 800 /Mês,1 Quarto,"Rua Gomes de Carvalho, 1005 - Vila Olímpia, Sã...",1 Banheiro,1 Vaga,30 m²,Vila Olímpia,"Rua Gomes de Carvalho, 1005"
4,R$ 5.200 /Mês R$ 1.249.000,2 Quartos,"Rua Nova York - Brooklin Paulista, São Paulo - SP",2 Banheiros,1 Vaga,71 m²,Brooklin Paulista,Rua Nova York
...,...,...,...,...,...,...,...,...
7159,R$ 2.000 /Mês,3 Quartos,"Pinheiros, São Paulo - SP",1 Banheiro,1 Vaga,65 m²,SP,"Pinheiros, São Paulo"
7160,R$ 3.900 /Mês,2 Quartos,"Rua Caio Prado, 363 - Consolação, São Paulo - SP",1 Banheiro,1 Vaga,54 m²,Consolação,"Rua Caio Prado, 363"
7161,R$ 2.650 /Mês,1 Quarto,"Rua do Paraíso - Paraíso, São Paulo - SP",2 Banheiros,1 Vaga,42 m²,Paraíso,Rua do Paraíso
7162,R$ 6.000 /Mês,1 Quarto,"Rua Eugênio de Medeiros, 288 - Pinheiros, São ...",2 Banheiros,2 Vagas,60 m²,Pinheiros,"Rua Eugênio de Medeiros, 288"
7163,R$ 3.200 /Mês,1 Quarto,"Rua Doutor Fadlo Haidar, 75 - Vila Olímpia, Sã...",1 Banheiro,1 Vaga,45 m²,Vila Olímpia,"Rua Doutor Fadlo Haidar, 75"