# Short Exercises - Chapter 06

In [2]:
from collections import Counter

### Counting Duplicate Words

In [1]:
# assumptions:
# treat upper and lower case the same
# there is no punctuation in the sentence
def count_dups(sentence):
    words = list(map(lambda x: x.lower(), sentence.split()))
    counter = Counter(words)
    print('Word\tCount')
    for word, count in sorted(counter.items()):
        print(f'{word:>4}\t{count:>5}')

In [3]:
count_dups('The the is is na po NA PO')

Word	Count
  is	    2
  na	    2
  po	    2
 the	    2

### Duplicate Word Removal

In [4]:
# treat uppercase and lowercase the same
# there is no punctuation in the sentence
# function needs to use a set for uniqueness
def dup_removal(sentence):
    return set(list(map(lambda x: x.lower(), sentence.split())))

In [5]:
dup_removal('The the is is na po NA PO')

{'is', 'na', 'po', 'the'}

### Character Counts

In [6]:
# ignore blanks and case
# there is no punctuation in the sentence
def char_counts(sentence):
    # split in words, words to lower and join them withou blanks
    sentence = ''.join(list(map(lambda x: x.lower(), sentence.split())))
    # count char frequency
    counter = Counter(sentence)
    print(f'Char\tCount')
    for char, count in sorted(counter.items()):
        print(f'{char:>3}\t{count:>5}')

In [7]:
char_counts('JusT a sentEncE foR TESTING')

Char	Count
  a	    1
  c	    1
  e	    4
  f	    1
  g	    1
  i	    1
  j	    1
  n	    3
  o	    1
  r	    1
  s	    3
  t	    4
  u	    1

In [8]:
# check if the sentence uses all alphabet letters
# use set operations
def pangram(sentence):
    # split sentence, words to upper, join without spaces and make it a set
    sentence = set(''.join(list(map(lambda x: x.upper(), sentence.split()))))
    # alphabet set
    alphabet = set(list(map(chr, list(range(65, 91)))))
    # compare sentence and alphabet
    return sentence == alphabet

In [9]:
pangram('The quick onyx goblin jumps over the lazy dwarf')

True

### Word Equivalent of Check Amount

In [6]:
# assumption
# number as string
# only amounts < 1000

amount = '112.43'

nword_dic = {1: 'ONE', 2:'TWO', 3:'THREE', 4:'FOUR', 5:'FIVE',
             6: 'SIX', 7: 'SEVEN', 8: 'EIGHT', 9:'NINE', 11: 'ELEVEN',
            12: 'TWELVE', 13: 'THIRTEEN', 14: 'FOURTENN', 15: 'FIFTEEN',
            16: 'SIXTEEN', 17: 'SEVENTEEN', 18: 'EIGHTEEN', 19: 'NINETEEN'}

tens = {1: 'TEN', 2: 'TWENTY', 3: 'THIRTY', 4: 'FOURTY', 5: 'FIFTY',
        6: 'SIXTY', 7: 'SEVENTY', 8: 'EIGHTY', 9: 'NINETY'}

In [7]:
def get_tens_hundreds(number):
    '''Divides a str number into an list of in for hundreds and tens'''
    if len(number) > 1:
        hundred, *tens = number
        tens = int(''.join(tens))
        return [int(hundred), tens]
    else:
        return [int(number)]

In [8]:
def ten_to_word(number: int) -> str:
    '''Converts any 1 < number < 99 to a string'''
    if number < 20:
        word = nword_dic[number]
    elif number % 10 == 0:
        word = tens[number / 10]
    else:
        number = get_tens_hundreds(str(number))
        head, *tail = number
        word = f'{tens[head]} {nword_dic[tail.pop()]}'
 
    return word

In [9]:
def amount_to_word(amount):
    '''Converts a string amount to a string repr of the amount'''
    int_part = ''
    dec_part = ''
    ns = amount.split('.')
    print(ns)

    head, *tail = ns
    if not tail:
        if int(head) < 100:
           return ten_to_word(int(head))
        else:
            ns = get_tens_hundreds(head)
            h1, *t1 = ns
            int_part = f'{nword_dic[h1]} HUNDRED {ten_to_word(t1.pop())}'
    else:
        ns = get_tens_hundreds(head)
        h1, *t1 = ns
        int_part = f'{nword_dic[h1]} HUNDRED {ten_to_word(t1.pop())}'
        dec_part = f' AND {tail[0]}/{10 ** len(tail[0])}'
        print(dec_part)
  
    return int_part + dec_part

In [10]:
amount_to_word('876.98')

['876', '98']
 AND 98/100

'EIGHT HUNDRED SEVENTY SIX AND 98/100'

In [12]:
amount_to_word('654.458')

['654', '458']
 AND 458/1000

'SIX HUNDRED FIFTY FOUR AND 458/1000'