In [1]:
import pandas as pd

In [21]:
info = pd.read_table('scan_file_data.txt', delimiter='\s', engine='python')

In [22]:
info.columns = info.columns.str.lower()

In [23]:
info

     refnum bg class severity     x     y  radius
0    mdb001  G  CIRC        B   535   425   197.0
1    mdb002  G  CIRC        B   522   280    69.0
2    mdb003  D  NORM     None  None  None     NaN
3    mdb004  D  NORM     None  None  None     NaN
4    mdb005  F  CIRC        B   477   133    30.0
..      ... ..   ...      ...   ...   ...     ...
325  mdb318  D  NORM     None  None  None     NaN
326  mdb319  D  NORM     None  None  None     NaN
327  mdb320  D  NORM     None  None  None     NaN
328  mdb321  D  NORM     None  None  None     NaN
329  mdb322  D  NORM     None  None  None     NaN

[330 rows x 7 columns]

In [26]:
info['class'].value_counts(normalize=True)

NORM    0.627273
CALC    0.090909
CIRC    0.075758
SPIC    0.057576
ARCH    0.057576
ASYM    0.045455
MISC    0.045455
Name: class, dtype: float64

In [28]:
info.severity.value_counts(normalize=True)

B    0.560976
M    0.439024
Name: severity, dtype: float64

In [45]:
info.isna().sum()['x':'radius']

x         208
y         208
radius    211
dtype: int64