# iPython Sessions - Part VII - Chapter 07

## Self Check

In [1]:
import pandas as pd

In [2]:
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82],
         'Thu': [75, 97], 'Fri': [62, 79]}

In [3]:
# convert temps to DataFrame with 'Low' and 'high'as the indices

In [4]:
temperatures = pd.DataFrame(temps, index=['Low', 'High'])

In [5]:
temperatures

      Mon  Tue  Wed  Thu  Fri
Low    68   71   66   75   62
High   89   93   82   97   79

In [6]:
temperatures.loc[:, 'Mon': 'Wed']

      Mon  Tue  Wed
Low    68   71   66
High   89   93   82

In [7]:
temperatures.loc['Low']

Mon    68
Tue    71
Wed    66
Thu    75
Fri    62
Name: Low, dtype: int64

In [8]:
pd.set_option('precision', 2)

In [9]:
temperatures.mean()

Mon    78.5
Tue    82.0
Wed    74.0
Thu    86.0
Fri    70.5
dtype: float64

In [10]:
temperatures.loc['High', ['Wed', 'Fri']]

Wed    82
Fri    79
Name: High, dtype: int64