# Short Exercises - Part IV - Chapter 07

### Shallow vs Deep Copy

In [38]:
import copy as cp

In [39]:
dictionary = {'Sophia': [97, 88]}
dictionary

{'Sophia': [97, 88]}

In [40]:
# create a shallow copy of dictionary
copy_dict = cp.copy(dictionary)
copy_dict

{'Sophia': [97, 88]}

In [45]:
# create a deep copy of dictionary
copy_dict_deep = cp.deepcopy(dictionary)
copy_dict_deep

{'Sophia': [97, 88, 90]}

In [49]:
# changing original dictionary

{'Sophia': [97, 88]}

### Pandas Series

In [16]:
import pandas as pd

In [17]:
series1 = pd.Series([7, 11, 13, 17])
series1

0     7
1    11
2    13
3    17
dtype: int64

In [18]:
series2 = pd.Series(100.0, range(5))
series2

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64

In [19]:
import numpy as np

In [20]:
series3 = pd.Series(np.random.randint(0, 101, 20))
series3

0     35
1     14
2     31
3     77
4     17
5     30
6     33
7     93
8     99
9     72
10    83
11    88
12     1
13    96
14    60
15    38
16     0
17     8
18    82
19    64
dtype: int64

In [21]:
series3.describe()

count    20.000000
mean     51.050000
std      33.934108
min       0.000000
25%      26.750000
50%      49.000000
75%      82.250000
max      99.000000
dtype: float64

In [22]:
temperatures = pd.Series([98.6, 98.9, 100.2, 97.9], index=['Julie', 'Charlie', 'Sam', 'Andrea'])
temperatures

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

In [23]:
# create a dic from the temperatures series
temp_dic = {i : v for (i, v) in zip(temperatures.index, temperatures.values)}
temp_dic

{'Julie': 98.6, 'Charlie': 98.9, 'Sam': 100.2, 'Andrea': 97.9}

In [24]:
# create a series form the dict temp_dic

In [25]:
temp_series = pd.Series(temp_dic)
temp_series

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

### Pandas DataFrames

In [29]:
df_temps = pd.DataFrame({'Maxine': [30, 45, 43], 'James': [50, 43, 67], 'Amanda': [70, 90, 43]})
df_temps

   Maxine  James  Amanda
0      30     50      70
1      45     43      90
2      43     67      43

In [37]:
df_temps.index = ['Morning', 'Afternoon', 'Evening']
df_temps

           Maxine  James  Amanda
Morning        30     50      70
Afternoon      45     43      90
Evening        43     67      43

In [38]:
df_temps = pd.DataFrame({'Maxine': [30, 45, 43], 'James': [50, 43, 67], 'Amanda': [70, 90, 43]}, index=['Morning', 'Afternoon', 'Evening'])
df_temps

           Maxine  James  Amanda
Morning        30     50      70
Afternoon      45     43      90
Evening        43     67      43

In [44]:
df_temps.loc['Morning']

Maxine    30
James     50
Amanda    70
Name: Morning, dtype: int64

In [46]:
df_temps.loc[['Morning','Evening'],:]

         Maxine  James  Amanda
Morning      30     50      70
Evening      43     67      43

In [47]:
df_temps.loc[:, ['Amanda', 'Maxine']]

           Amanda  Maxine
Morning        70      30
Afternoon      90      45
Evening        43      43

In [48]:
df_temps.loc[['Morning', 'Evening'], ['Amanda', 'Maxine']]

         Amanda  Maxine
Morning      70      30
Evening      43      43

In [49]:
df_temps.describe()

          Maxine      James     Amanda
count   3.000000   3.000000   3.000000
mean   39.333333  53.333333  67.666667
std     8.144528  12.342339  23.586719
min    30.000000  43.000000  43.000000
25%    36.500000  46.500000  56.500000
50%    43.000000  50.000000  70.000000
75%    44.000000  58.500000  80.000000
max    45.000000  67.000000  90.000000

In [50]:
df_temps

           Maxine  James  Amanda
Morning        30     50      70
Afternoon      45     43      90
Evening        43     67      43

In [51]:
df_temps.T

        Morning  Afternoon  Evening
Maxine       30         45       43
James        50         43       67
Amanda       70         90       43

In [56]:
df_temps.sort_index(ascending=True)

           Maxine  James  Amanda
Afternoon      45     43      90
Evening        43     67      43
Morning        30     50      70

In [57]:
df_temps

           Maxine  James  Amanda
Morning        30     50      70
Afternoon      45     43      90
Evening        43     67      43

In [58]:
df_temps.sort_index(axis=1)

           Amanda  James  Maxine
Morning        70     50      30
Afternoon      90     43      45
Evening        43     67      43

In [60]:
df_temps.sort_values(by='Morning', axis=1)

           Maxine  James  Amanda
Morning        30     50      70
Afternoon      45     43      90
Evening        43     67      43

In [61]:
df_temps

           Maxine  James  Amanda
Morning        30     50      70
Afternoon      45     43      90
Evening        43     67      43

In [65]:
df_temps.sort_values(by='Afternoon', axis=1)

           James  Maxine  Amanda
Morning       50      30      70
Afternoon     43      45      90
Evening       67      43      43

In [70]:
df_temps.T.sort_values(by='Afternoon', ascending=False)

        Morning  Afternoon  Evening
Amanda       70         90       43
Maxine       30         45       43
James        50         43       67