# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
from datetime import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data = pd.read_csv('wind.data', sep='\s+', engine='python')

In [4]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [5]:
# remove first 3 columns and replace by a datetime value.
data['Y'] = pd.to_datetime(dict(year=1900+data.Yr, month=data.Mo, day=data.Dy))
data.drop(columns=['Yr', 'Mo', 'Dy'], inplace=True)

In [6]:
# make Y the index
data.set_index(keys=data.Y, drop=True, inplace=True)

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [7]:
del data['Y']
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Y,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [8]:
data.index

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03', '1961-01-04',
               '1961-01-05', '1961-01-06', '1961-01-07', '1961-01-08',
               '1961-01-09', '1961-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name='Y', length=6574, freq=None)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [9]:
data.isna().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [27]:
# all values - missing values

data.shape[0] - data.isnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [38]:
# all values / all non-missing values
data.sum().sum() / data.notna().sum().sum()

10.227883764282181

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [14]:
loc_stats = data.agg(['min', 'max', 'mean', 'std'])
pd.set_option('display.precision', 4)
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.6700,0.2100,1.5000,0.0000,0.1300,0.0000,0.0000,0.0000,0.0000,0.0400,0.130,0.6700
max,35.8000,33.3700,33.8400,28.4600,37.5400,26.1600,30.3700,31.0800,25.8800,28.2100,42.380,42.5400
mean,12.3630,10.6443,11.6605,6.3065,10.4558,7.0923,9.7973,8.4951,8.4936,8.7073,13.121,15.5991
std,5.6184,5.2674,5.0084,3.6058,4.9361,3.9687,4.9776,4.4994,4.1669,4.5040,5.835,6.6998

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [16]:
day_stats = data.agg(['min', 'max', 'mean', 'std'], axis=1)
day_stats

             min    max     mean     std
1961-01-01  9.29  18.50  13.0182  2.8089
1961-01-02  6.50  17.54  11.3364  3.1890
1961-01-03  6.17  18.50  11.6418  3.6819
1961-01-04  1.79  11.75   6.6192  3.1981
1961-01-05  6.17  13.33  10.6300  2.4454
...          ...    ...      ...     ...
1978-12-27  8.08  40.08  16.7083  7.8681
1978-12-28  5.00  41.46  15.1500  9.6879
1978-12-29  8.71  29.58  14.8900  5.7568
1978-12-30  9.13  28.79  15.3675  5.5404
1978-12-31  9.59  27.29  15.4025  5.7025

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [34]:
data.loc[data.index.month == 1].mean(axis=0)

RPT    14.8473
VAL    12.9146
ROS    13.2996
KIL     7.1995
SHA    11.6677
BIR     8.0548
DUB    11.8194
CLA     9.5120
MUL     9.5432
CLO    10.0536
BEL    14.5505
MAL    18.0288
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [40]:
data.groupby(data.index.to_period('Y')).mean()

# resample
# data.resample('Y', closed='right').sum()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Y,,,,,,,,,,,,
1961,12.2996,10.3518,11.3624,6.9582,10.8818,7.7297,9.7339,8.8588,8.6477,9.8356,13.5028,13.6808
1962,12.2469,10.1104,11.7327,6.9604,10.6579,7.3931,11.0207,8.7938,8.3168,9.6762,12.9307,14.3240
1963,12.8135,10.8370,12.5412,7.3301,11.7241,8.4347,11.0757,10.3365,8.9036,10.2244,13.6389,14.9990
1964,12.3637,10.9202,12.1044,6.7878,11.4545,7.5709,10.2592,9.4673,7.7890,10.2080,13.7405,14.9103
1965,12.4514,11.0755,11.8488,6.8585,11.0248,7.4781,10.6187,8.8799,7.9074,9.9181,12.9642,15.5916
1966,13.4620,11.5572,12.0206,7.3457,11.8050,7.7937,10.5798,8.8351,8.5144,9.7690,14.2658,16.3073
1967,12.7372,10.9910,11.7394,7.1434,11.6307,7.3682,10.6520,9.3256,8.6450,9.5474,14.7745,17.1359
1968,11.8356,10.4682,11.4098,6.4777,10.7608,6.0673,8.8592,8.2555,7.2249,7.8330,12.8086,15.0175
1969,11.1664,9.7237,10.9020,5.7680,9.8739,6.1900,8.5645,7.7114,7.9245,7.7544,12.6212,15.7629
1970,12.6003,10.7269,11.7302,6.2172,10.5674,7.6095,9.6099,8.3346,9.2976,8.2898,13.1836,16.4560
1971,11.2731,9.0952,11.0883,5.2415,9.4403,6.0972,8.3859,6.7573,7.9154,7.2298,12.2089,15.0252
1972,12.4640,10.5613,12.0583,5.9297,9.4304,6.3588,9.7045,7.6808,8.3573,7.5153,12.7274,15.0287
1973,11.8285,10.6805,10.6805,5.5479,9.6409,6.5487,8.4821,7.6143,8.2455,7.8124,12.1697,15.4411
1974,13.6431,11.8118,12.3364,6.4270,11.1110,6.8098,10.0846,9.8970,9.3318,8.7364,13.2530,16.9477
1975,12.0086,10.2938,11.5647,5.2691,9.1901,5.6685,8.5626,7.8438,8.7979,7.3828,12.6317,15.3079
1976,11.7378,10.2031,10.7612,5.1094,8.8463,6.3110,9.1491,7.1462,8.8837,7.8831,12.3324,15.4714
1977,13.0996,11.1445,12.6278,6.0739,10.0038,8.5864,11.5232,8.3784,9.0982,8.8216,13.4591,16.5908
1978,12.5044,11.0443,11.3800,6.0824,10.1672,7.6507,9.4893,8.8005,9.0898,8.3017,12.9674,16.7714

### Step 13. Downsample the record to a monthly frequency for each location.

In [43]:
data.groupby(data.index.to_period('M')).mean()
#data.resample('M').sum()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Y,,,,,,,,,,,,
1961-01,14.8413,11.9883,13.4316,7.7368,11.0728,8.5881,11.1848,9.2453,9.0858,10.1074,13.8810,14.7032
1961-02,16.2693,14.9754,14.4415,9.2307,13.8521,10.9375,11.8907,11.8461,11.8214,12.7143,18.5832,15.4118
1961-03,10.8900,11.2965,10.7529,7.2840,10.5094,8.8668,9.6442,9.8297,10.2941,11.2519,16.4110,15.7200
1961-04,10.7227,9.4277,9.9980,5.8307,8.4350,6.4950,6.9253,7.0947,7.3423,7.2370,11.1473,10.2783
1961-05,9.8610,8.8500,10.8181,5.9053,9.4903,6.5748,7.6040,8.1771,8.0394,8.4994,11.9003,12.0116
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.6452,8.2594,9.0323,4.5029,7.3681,5.9352,5.6503,5.4177,7.2413,5.5368,10.4668,12.0542
1978-09,10.9137,10.8950,10.6350,5.7250,10.3720,9.2783,10.7903,9.5830,10.0693,8.9390,15.6803,19.3913
1978-10,9.8977,8.6710,9.2958,4.7213,8.5252,6.7742,8.1155,7.3377,8.2977,8.2439,13.7768,17.1500
1978-11,16.1517,14.8027,13.5080,7.3173,11.4750,8.7430,11.4923,9.6573,10.7013,10.6760,17.4047,20.7230
1978-12,16.1755,13.7481,15.6352,7.0948,11.3987,9.2416,12.0774,10.1948,10.6168,11.0287,13.8597,21.3716

### Step 14. Downsample the record to a weekly frequency for each location.

In [44]:
data.groupby(data.index.to_period('W')).mean()

#data.resample('W').sum()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Y,,,,,,,,,,,,
1960-12-26/1961-01-01,15.0400,14.9600,13.1700,9.2900,NaN,9.8700,13.6700,10.2500,10.8300,12.5800,18.5000,15.0400
1961-01-02/1961-01-08,13.5414,11.4867,10.4871,6.4171,9.4743,6.4357,11.0614,6.6167,8.4343,8.4971,12.4814,13.2386
1961-01-09/1961-01-15,12.4686,8.9671,11.9586,4.6300,7.3514,5.0729,7.5357,6.8200,5.7129,7.5714,11.1257,11.0243
1961-01-16/1961-01-22,13.2043,9.8629,12.9829,6.3286,8.9667,7.4171,9.2571,7.8757,7.1457,8.1243,9.8214,11.4343
1961-01-23/1961-01-29,19.8800,16.1414,18.2257,12.7200,17.4329,14.8286,15.5286,15.1600,14.4800,15.6400,20.9300,22.5300
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-11-27/1978-12-03,14.9343,11.2329,13.9414,5.5657,10.2157,8.6186,9.6429,7.6857,9.0114,9.5471,11.8357,18.7286
1978-12-04/1978-12-10,20.7400,19.1900,17.0343,9.7771,15.2871,12.7743,14.4371,12.4886,13.8700,14.0829,18.5171,23.0614
1978-12-11/1978-12-17,16.7586,14.6929,14.9871,6.9171,11.3971,7.2729,10.2086,7.9671,9.1686,8.5657,11.1029,15.5629
1978-12-18/1978-12-24,11.1557,8.0086,13.1729,4.0043,7.8257,6.2900,7.7986,8.6671,7.1514,8.0729,11.8457,18.9771
1978-12-25/1978-12-31,14.9514,11.8014,16.0357,6.5071,9.6600,8.6200,13.7086,10.4771,10.8686,11.4714,12.9471,26.8443

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [57]:
# resample the dataframe using a week index
weekly = data.resample('W').agg(['min', 'max', 'mean', 'std'])

# select the first 52 weeks and aggregate
weekly.iloc[0:53].head(10)

              RPT                            VAL                          \
              min    max     mean     std    min    max     mean     std
Y
1961-01-01  15.04  15.04  15.0400     NaN  14.96  14.96  14.9600     NaN
1961-01-08  10.58  18.50  13.5414  2.6313   6.63  16.88  11.4867  3.9495
1961-01-15   9.04  19.75  12.4686  3.5554   3.54  12.08   8.9671  3.1489
1961-01-22   4.92  19.83  13.2043  5.3374   3.42  14.37   9.8629  3.8378
1961-01-29  13.62  25.04  19.8800  4.6191   9.96  23.91  16.1414  5.1702
1961-02-05  10.58  24.21  16.8271  5.2514   9.46  24.21  15.4600  5.1874
1961-02-12  16.00  24.54  19.6843  3.5877  11.54  21.42  16.4171  3.6084
1961-02-19   6.04  22.50  15.1300  5.0646  11.63  20.17  15.0914  3.5750
1961-02-26   7.79  25.80  15.2214  7.0207   7.08  21.50  13.6257  5.1473
1961-03-05  10.96  13.33  12.1014  0.9977   8.83  17.00  12.9514  2.8520

              ROS         ...      CLO            BEL                          \
              min    max  ...     mean     std    min    max     mean     std
Y                         ...
1961-01-01  13.17  13.17  ...  12.5800     NaN  18.50  18.50  18.5000     NaN
1961-01-08   7.62  12.33  ...   8.4971  1.7049   5.46  17.54  12.4814  4.3491
1961-01-15   7.08  19.50  ...   7.5714  4.0843   5.25  20.71  11.1257  5.5522
1961-01-22   7.29  20.79  ...   8.1243  4.7840   6.50  15.92   9.8214  3.6266
1961-01-29  12.67  25.84  ...  15.6400  3.7134  14.04  27.71  20.9300  5.2107
1961-02-05   9.04  19.70  ...   9.4600  2.8395   9.17  19.33  14.0129  4.2109
1961-02-12  13.67  21.34  ...  14.4400  1.7467  15.21  26.38  21.8329  4.0638
1961-02-19   6.13  19.41  ...  13.5429  2.5314  14.09  29.63  21.1671  5.9109
1961-02-26   6.08  22.42  ...  12.7300  4.9201   9.59  23.21  16.3043  5.0912
1961-03-05   8.17  13.67  ...  12.3700  1.5937  11.58  23.45  17.8429  4.3323

              MAL
              min    max     mean     std
Y
1961-01-01  15.04  15.04  15.0400     NaN
1961-01-08  10.88  16.46  13.2386  1.7731
1961-01-15   5.17  16.92  11.0243  4.6924
1961-01-22   6.79  17.96  11.4343  4.2372
1961-01-29  17.50  27.63  22.5300  3.8747
1961-02-05   7.17  19.25  11.9357  4.3361
1961-02-12  17.04  21.84  19.1557  1.8287
1961-02-19  10.96  22.58  16.5843  4.6854
1961-02-26   6.67  23.87  14.3229  6.1823
1961-03-05   8.83  17.54  13.9517  3.0214

[10 rows x 48 columns]