# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
from datetime import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data = pd.read_csv('wind.data', sep='\s+', engine='python')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      6574 non-null   int64
 1   Mo      6574 non-null   int64
 2   Dy      6574 non-null   int64
 3   RPT     6568 non-null   float64
 4   VAL     6571 non-null   float64
 5   ROS     6572 non-null   float64
 6   KIL     6569 non-null   float64
 7   SHA     6572 non-null   float64
 8   BIR     6574 non-null   float64
 9   DUB     6571 non-null   float64
 10  CLA     6572 non-null   float64
 11  MUL     6571 non-null   float64
 12  CLO     6573 non-null   float64
 13  BEL     6574 non-null   float64
 14  MAL     6570 non-null   float64
dtypes: float64(12), int64(3)
memory usage: 770.5 KB

In [5]:
# remove first 3 columns and replace by a datetime value.
data['Y'] = pd.to_datetime(dict(year=1900+data.Yr, month=data.Mo, day=data.Dy))
data.drop(columns=['Yr', 'Mo', 'Dy'], inplace=True)

In [6]:
# make Y the index
data.set_index(keys=data.Y, drop=True, inplace=True)

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [7]:
del data['Y']
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Y,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [8]:
data.index

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03', '1961-01-04',
               '1961-01-05', '1961-01-06', '1961-01-07', '1961-01-08',
               '1961-01-09', '1961-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name='Y', length=6574, freq=None)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [9]:
data.isna().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6574 entries, 1961-01-01 to 1978-12-31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RPT     6568 non-null   float64
 1   VAL     6571 non-null   float64
 2   ROS     6572 non-null   float64
 3   KIL     6569 non-null   float64
 4   SHA     6572 non-null   float64
 5   BIR     6574 non-null   float64
 6   DUB     6571 non-null   float64
 7   CLA     6572 non-null   float64
 8   MUL     6571 non-null   float64
 9   CLO     6573 non-null   float64
 10  BEL     6574 non-null   float64
 11  MAL     6570 non-null   float64
dtypes: float64(12)
memory usage: 667.7 KB

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [11]:
data.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [12]:
rpt = pd.Series({"min": data.RPT.min(), "max": data.RPT.max(), "mean": data.RPT.mean(), "std": data.RPT.std()}, name='RPT')
rpt

min      0.670000
max     35.800000
mean    12.362987
std      5.618413
Name: RPT, dtype: float64

In [13]:
val = pd.Series({"min": data.ROS.min(), "max": data.VAL.max(), "mean": data.VAL.mean(), "std": data.VAL.std()}, name='VAL')
val

min      1.500000
max     33.370000
mean    10.644314
std      5.267356
Name: VAL, dtype: float64

In [14]:
ros = pd.Series({"min": data.ROS.min(), "max": data.ROS.max(), "mean": data.ROS.mean(), "std": data.ROS.std()}, name='ROS')
ros

min      1.500000
max     33.840000
mean    11.660526
std      5.008450
Name: ROS, dtype: float64

In [15]:
kil = pd.Series({"min": data.KIL.min(), "max": data.KIL.max(), "mean": data.KIL.mean(), "std": data.ROS.std()}, name='KIL')
kil

min      0.000000
max     28.460000
mean     6.306468
std      5.008450
Name: KIL, dtype: float64

In [16]:
sha = pd.Series({"min": data.SHA.min(), "max": data.SHA.max(), "mean": data.SHA.mean(), "std": data.SHA.std()}, name='SHA')
sha

min      0.130000
max     37.540000
mean    10.455834
std      4.936125
Name: SHA, dtype: float64

In [17]:
bir = pd.Series({"min": data.BIR.min(), "max": data.BIR.max(), "mean": data.BIR.mean(), "std": data.BIR.std()}, name='SHA')
bir

min      0.000000
max     26.160000
mean     7.092254
std      3.968683
Name: SHA, dtype: float64

In [18]:
dub = pd.Series({"min": data.DUB.min(), "max": data.DUB.max(), "mean": data.DUB.mean(), "std": data.DUB.std()}, name='DUB')
dub

min      0.000000
max     30.370000
mean     9.797343
std      4.977555
Name: DUB, dtype: float64

In [19]:
cla = pd.Series({"min": data.CLA.min(), "max": data.CLA.max(), "mean": data.CLA.mean(), "std": data.CLA.std()}, name='CLA')
cla

min      0.000000
max     31.080000
mean     8.495053
std      4.499449
Name: CLA, dtype: float64

In [20]:
mul = pd.Series({"min": data.MUL.min(), "max": data.MUL.max(), "mean": data.MUL.mean(), "std": data.MUL.std()}, name='MUL')
mul

min      0.000000
max     25.880000
mean     8.493590
std      4.166872
Name: MUL, dtype: float64

In [21]:
clo = pd.Series({"min": data.CLO.min(), "max": data.CLO.max(), "mean": data.CLO.mean(), "std": data.CLO.std()}, name='CLO')
clo

min      0.040000
max     28.210000
mean     8.707332
std      4.503954
Name: CLO, dtype: float64

In [22]:
clo = pd.Series({"min": data.CLO.min(), "max": data.CLO.max(), "mean": data.CLO.mean(), "std": data.CLO.std()}, name='CLO')
clo

min      0.040000
max     28.210000
mean     8.707332
std      4.503954
Name: CLO, dtype: float64

In [23]:
bel = pd.Series({"min": data.BEL.min(), "max": data.BEL.max(), "mean": data.BEL.mean(), "std": data.BEL.std()}, name='BEL')
bel

min      0.130000
max     42.380000
mean    13.121007
std      5.835037
Name: BEL, dtype: float64

In [35]:
mal = pd.Series({"min": data.MAL.min(), "max": data.MAL.max(), "mean": data.MAL.mean(), "std": data.MAL.std()}, name='MAL')
mal

min      0.6700
max     42.5400
mean    15.5991
std      6.6998
Name: MAL, dtype: float64

In [25]:
data.columns

Index(['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA', 'MUL', 'CLO',
       'BEL', 'MAL'],
      dtype='object')

In [26]:
loc_stats = pd.concat([rpt, val, ros, kil, sha, bir, dub, cla, mul, clo, bel, mal], axis=1)

In [27]:
pd.set_option('display.precision', 4)
loc_stats

,RPT,VAL,ROS,KIL,SHA,SHA,DUB,CLA,MUL,CLO,BEL,MAL
min,0.6700,1.5000,1.5000,0.0000,0.1300,0.0000,0.0000,0.0000,0.0000,0.0400,0.130,0.6700
max,35.8000,33.3700,33.8400,28.4600,37.5400,26.1600,30.3700,31.0800,25.8800,28.2100,42.380,42.5400
mean,12.3630,10.6443,11.6605,6.3065,10.4558,7.0923,9.7973,8.4951,8.4936,8.7073,13.121,15.5991
std,5.6184,5.2674,5.0084,5.0084,4.9361,3.9687,4.9776,4.4994,4.1669,4.5040,5.835,6.6998

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [28]:
data_max = data.apply(max, axis=1)
data_max

Y
1961-01-01    18.50
1961-01-02    17.54
1961-01-03    18.50
1961-01-04    11.75
1961-01-05    13.33
              ...
1978-12-27    40.08
1978-12-28    41.46
1978-12-29    29.58
1978-12-30    28.79
1978-12-31    27.29
Length: 6574, dtype: float64

In [29]:
data_min = data.apply(min, axis=1)
data_min

Y
1961-01-01    9.29
1961-01-02    6.50
1961-01-03    6.17
1961-01-04    1.79
1961-01-05    6.17
              ...
1978-12-27    8.08
1978-12-28    5.00
1978-12-29    8.71
1978-12-30    9.13
1978-12-31    9.59
Length: 6574, dtype: float64

In [30]:
data_mean = data.apply(lambda x: x.mean(), axis=1)
data_mean

Y
1961-01-01    13.0182
1961-01-02    11.3364
1961-01-03    11.6418
1961-01-04     6.6192
1961-01-05    10.6300
               ...
1978-12-27    16.7083
1978-12-28    15.1500
1978-12-29    14.8900
1978-12-30    15.3675
1978-12-31    15.4025
Length: 6574, dtype: float64

In [31]:
data_std = data.apply(lambda x: x.std(), axis=1)
data_std

Y
1961-01-01    2.8089
1961-01-02    3.1890
1961-01-03    3.6819
1961-01-04    3.1981
1961-01-05    2.4454
               ...
1978-12-27    7.8681
1978-12-28    9.6879
1978-12-29    5.7568
1978-12-30    5.5404
1978-12-31    5.7025
Length: 6574, dtype: float64

In [32]:
day_stats = pd.concat([data_min, data_max, data_mean, data_std], axis=1)
day_stats.columns = ['min', 'max', 'mean', 'std']

In [33]:
day_stats

             min    max     mean     std
Y
1961-01-01  9.29  18.50  13.0182  2.8089
1961-01-02  6.50  17.54  11.3364  3.1890
1961-01-03  6.17  18.50  11.6418  3.6819
1961-01-04  1.79  11.75   6.6192  3.1981
1961-01-05  6.17  13.33  10.6300  2.4454
...          ...    ...      ...     ...
1978-12-27  8.08  40.08  16.7083  7.8681
1978-12-28  5.00  41.46  15.1500  9.6879
1978-12-29  8.71  29.58  14.8900  5.7568
1978-12-30  9.13  28.79  15.3675  5.5404
1978-12-31  9.59  27.29  15.4025  5.7025

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [53]:
data.loc[data.index.month == 1].mean(axis=0)

RPT    14.8473
VAL    12.9146
ROS    13.2996
KIL     7.1995
SHA    11.6677
BIR     8.0548
DUB    11.8194
CLA     9.5120
MUL     9.5432
CLO    10.0536
BEL    14.5505
MAL    18.0288
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [51]:
data.groupby(data.index.year).sum()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Y,,,,,,,,,,,,
1961,4427.85,3747.35,4124.54,2511.92,3950.08,2821.35,3523.68,3215.74,3130.45,3580.15,4928.52,4952.44
1962,4457.88,3690.31,4282.44,2533.60,3890.14,2698.47,4022.56,3209.72,3035.64,3531.83,4719.70,5213.92
1963,4676.91,3955.50,4577.52,2675.47,4279.30,3078.67,4042.63,3772.84,3249.81,3731.92,4978.19,5474.64
1964,4525.10,3996.78,4430.20,2484.33,4192.34,2770.94,3754.85,3465.05,2850.78,3736.11,5029.04,5457.17
1965,4544.75,4042.57,4324.80,2503.34,4024.05,2729.51,3875.83,3241.17,2886.21,3620.10,4731.95,5690.95
1966,4913.62,4218.38,4387.53,2681.19,4308.84,2844.69,3861.63,3224.81,3107.77,3565.67,5207.03,5952.15
1967,4649.06,4011.71,4284.88,2607.35,4245.22,2689.38,3887.99,3403.85,3155.43,3484.81,5392.71,6254.62
1968,4331.84,3831.36,4175.97,2370.83,3938.44,2220.64,3242.46,3021.52,2644.33,2866.87,4687.96,5496.40
1969,4075.72,3549.15,3979.23,2105.31,3603.98,2259.34,3126.04,2814.66,2892.45,2830.35,4606.75,5753.46
1970,4599.12,3915.33,4281.54,2269.27,3857.09,2777.45,3507.61,3042.14,3393.63,3025.78,4812.03,6006.45
1971,4114.69,3319.74,4047.24,1913.15,3445.72,2225.46,3060.85,2466.42,2889.11,2638.86,4456.26,5484.21
1972,4561.81,3865.44,4413.35,2170.27,3451.53,2327.33,3551.85,2811.17,3058.77,2750.59,4658.22,5500.51
1973,4317.39,3898.38,3898.38,2024.97,3518.92,2390.29,3095.97,2779.21,3009.62,2851.53,4441.94,5636.00
1974,4979.73,4311.30,4502.77,2345.87,4055.51,2485.57,3680.88,3612.40,3406.09,3188.77,4837.33,6185.90
1975,4383.13,3757.25,4221.12,1923.22,3354.38,2069.01,3125.35,2863.00,3211.25,2694.73,4610.56,5587.37
1976,4296.05,3734.34,3938.61,1870.05,3237.76,2309.84,3348.58,2615.51,3251.44,2885.21,4513.65,5662.55
1977,4781.36,4067.74,4609.16,2216.99,3651.40,3134.05,4205.97,3058.11,3320.84,3219.89,4912.56,6055.66
1978,4564.09,4031.16,4153.70,2220.06,3711.04,2792.49,3463.61,3212.17,3317.76,3030.12,4733.10,6121.55

### Step 13. Downsample the record to a monthly frequency for each location.

In [52]:
data.groupby(data.index.month).sum()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Y,,,,,,,,,,,,
1,8269.96,7193.41,7421.19,4017.32,6487.26,4494.60,6595.20,5298.21,5325.11,5609.89,8119.19,10060.05
2,6965.14,6152.45,6529.72,3512.86,5868.30,3878.00,5692.66,4745.45,4731.09,4835.17,6974.28,8715.32
3,7316.23,6420.26,7057.65,4047.11,6447.42,4441.35,6311.08,5376.83,5393.38,5634.10,7706.32,9401.58
4,6780.05,5632.07,6590.60,3724.94,5765.94,4018.35,5519.51,4810.89,4822.67,4945.33,6838.97,8066.31
5,6542.01,5651.11,6445.12,3513.27,5705.16,3873.67,4900.34,4716.72,4486.77,4756.87,7124.13,7664.71
6,5633.26,4832.84,5595.11,3052.23,5146.16,3461.45,4325.16,4277.23,4125.49,4173.76,6613.06,6932.52
7,5575.54,4663.64,5217.10,3022.65,5190.87,3332.57,4368.83,4052.62,4209.82,4085.35,6515.49,7142.84
8,5688.87,4695.65,5576.34,2941.04,4967.07,3287.21,4336.95,3817.85,4040.24,3900.55,6199.43,6999.23
9,6187.60,5379.76,5797.96,3026.58,5273.81,3545.76,4649.25,4174.92,4109.70,4152.21,6850.65,7971.46
10,7051.96,6143.96,6391.30,3384.39,5887.04,3995.23,5238.38,4869.28,4649.38,4938.51,7898.67,9317.01
11,7128.39,6285.33,6638.44,3373.71,5670.61,3852.54,5829.21,4550.67,4646.16,4829.31,7460.50,9781.66
12,8061.09,6893.31,7372.45,3811.09,6306.10,4443.75,6611.77,5138.82,5271.57,5372.24,7956.81,10433.26

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.